<h3>Create a New Grocery List</h3>

<form method = "POST" action "">
	//the input stuff
	List Name: <input type = "text" name = "list">
	Created By: <input type = "text" name = "creator">
	<input type = "submit">
<\form>


<a href = "./list">Cancel</a>